#id2 {
  padding-bottom: 15px;
}

#pwd2 {
  padding-bottom: 15px;
}

#pwdpwd2 {
  padding-bottom: 15px;
}

#name2 {
  padding-bottom: 15px;
}

#email2 {
  padding-bottom: 15px;
}

#hobby {
  margin-bottom: 15px;
}

#home {
  margin-bottom: 10px;
}
