.modal {
  position: absolute;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_body {
  position: absolute;
  top: 450px;
  width: 500px;
  height: 600px;
  padding: 40px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  transform: translateY(-50%);
}

.loginsection div.back_to_menu {
  margin-top: -30px;
  width: 400px;
}
.loginsection div.back_to_menu i {
  font-size: 30px;
  margin-left: 477px;
  color: black;
}
.loginsection div.mainsbj h1 {
  font-size: 45px;
  font-weight: 900;
  color: skyblue;
  margin-bottom: 20px;
}
.loginsection div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginsection div.user_login {
  border-bottom: 4px solid black;
  width: 100%;
  height: 15%;
  margin-bottom: 15px;
}
div.user_login i {
  font-size: 30px;
}
div.user_login input {
  margin-left: 20px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  outline: none;
}
.login_btn input {
  font-size: 25px;
  width: 100%;
  height: 55px;
  border: none;
  color: white;
  background-color: skyblue;
  border-radius: 10px;
  margin-top: 40px;
}
.loginsection .kkt_login_btn img {
  margin-top: 25px;
  width: 100%;
}
