.main {
  background-color: violet;
  height: 100vh;
  font-size: 10rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
