* {
  box-sizing: border-box;
}

.container {
  background-color: blue;
  background: linear-gradient(45deg, black, blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .square1 {
  animation: boxAni 3s scaleY(1.2) infinite;
  transform: scale(1.2);
  transition: 1s;
  animation-iteration-count: infinite;
}

.square1 {
  width: 7px;
  height: 40px;
  background-color: white;
  margin: 3px;
  transform: boxAni 3s linear;
}

.square2 {
  width: 7px;
  height: 40px;
  background-color: white;
  margin: 3px;
}

.square3 {
  width: 7px;
  height: 40px;
  background-color: white;
  margin: 3px;
}

.square4 {
  width: 7px;
  height: 40px;
  background-color: white;
  margin: 3px;
}

.square5 {
  width: 7px;
  height: 40px;
  background-color: white;
  margin: 3px;
}

.square6 {
  width: 7px;
  height: 40px;
  background-color: white;
  margin: 3px;
}

.square7 {
  width: 7px;
  height: 40px;
  background-color: white;
  margin: 3px;
}

@keyframes boxAni {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(30px, 0);
    }
    100% {
      transform: translate(50px, 50px);
    }